CONFIG_DEBUG_STACKOVERFLOW=y

CONFIG_RANDOMIZE_BASE=y
CONFIG_RANDOMIZE_BASE_MAX_OFFSET=0x20000000

CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_STRICT_DEVMEM=y
# CONFIG_DEVKMEM is not set
# CONFIG_IKCONFIG_PROC is not set
# CONFIG_PROC_KCORE is not set

CONFIG_X86_INTEL_MPX=y
# CONFIG_X86_MSR is not set

#CONFIG_COMPAT_BRK results in randomize_va_space to be set to 1 
#which is a known security weakness in ASLR
# CONFIG_COMPAT_BRK is not set
