// Support for restart of dnsmasq.service
polkit.addRule(function(action, subject) {
  if (action.id == "org.freedesktop.systemd1.manage-units" &&
        action.lookup("unit") == "dnsmasq.service" &&
        action.lookup("verb") == "restart" &&
        subject.active &&
        subject.isInGroup ("netadmin")) {
    return polkit.Result.YES;
  }
});
