polkit.addRule(function(action, subject) {
  if (action.id.indexOf("org.fedoraproject.FirewallD1.") == 0 &&
        subject.active &&
        subject.isInGroup ("netadmin")) {
    return polkit.Result.YES;
  }
});

polkit.addRule(function(action, subject) {
  if (action.id == "org.freedesktop.systemd1.manage-units" &&
        action.lookup("unit") == "firewalld.service" &&
        subject.active &&
        subject.isInGroup ("netadmin")) {
    return polkit.Result.YES;
  }
});
