polkit.addRule(function(action, subject) {
  if (action.id.indexOf("org.freedesktop.NetworkManager.") == 0 &&
        subject.active &&
        subject.isInGroup ("netadmin")) {
    return polkit.Result.YES;
  }
});
