[Unit]
Description=Docker API controller/authz daemon
Before=docker.service

[Service]
User=root
Group=docker
PrivateTmp=yes
PrivateNetwork=yes
AppArmorProfile=docker-command-filter
Environment=PYTHONDONTWRITEBYTECODE=1
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/usr/sbin
ExecStartPre=/bin/mkdir -p /var/run/docker/plugins/
ExecStart=/usr/bin/gunicorn --bind unix:///var/run/docker/plugins/command-filter.sock -m 600 docker-command-filter

[Install]
WantedBy=multi-user.target
