[Unit]
Description=netANALYZER remote access server
After=network.target

[Service]
Type=simple
SyslogIdentifier=nasa-remote-access-server
ExecStart=/opt/nasa/remote-access-server/remoteaccessserver
WorkingDirectory=/opt/nasa/remote-access-server
User=root
Restart=always

[Install]
WantedBy=multi-user.target
