[Unit]
Description=Docker Socket for the API
PartOf=iotedge-docker.service

[Socket]
ListenStream=/run/iotedge-docker.sock
ExecStartPost=/usr/bin/setfacl -m g:docker-readonly:rw- /run/iotedge-docker.sock
SocketMode=0660
SocketUser=root
SocketGroup=docker

[Install]
WantedBy=sockets.target
