ACTION=="add", SUBSYSTEM=="net", KERNEL=="iotedge0", ENV{NM_UNMANAGED}="1"
# allow aziottpm access to tpm0 and tpmrm0
KERNEL=="tpm0", SUBSYSTEM=="tpm", GROUP="aziottpm", MODE="0660"
KERNEL=="tpmrm0", SUBSYSTEM=="tpmrm", GROUP="aziottpm", MODE="0660"
